{% extends 'base.html.twig' %}

{% block title %}Posts List{% endblock %}
{% block header %}<h3>Posts List ✅</h3>{% endblock %}
{% block body %}

    <div class="row  m-5">
        <hr>
        {% for category in categories %}
            {% if category.posts.count > 0 %}
                <div class="col-sm-12">
                    <h4>{{ category.title }}</h4>
                    <hr>
                </div>
                {% for post in category.posts %}
                    <div class="col-sm-4">
                        <a href="/post/{{ post.id }}">{{ post.title|raw }}</a>
                        <hr>
                    </div>
                {% endfor %}
            {% endif %}
        {% endfor %}
        <hr>
    </div>
{% endblock %}
