{% extends 'base.html.twig' %}

{% block title %}Edit Stuff{% endblock %}

{% block body %}
    <h1>Edit Stuff</h1>
    {{ include('stuff/_form.html.twig', {'button_label': 'Update'}) }}

    <div class="col-sm-3">
        <a class="btn btn-primary" href="{{ path('stuff_index') }}">back to list</a>
    </div>

    <div class="col-sm-3">
        {{ include('stuff/_delete_form.html.twig') }}
    </div>
{% endblock %}
